{% extends "layout.html" %}

{% block title %}
Apology
{% endblock %}

{% block main %}
<div class="container">

    <img src="/static/apology.png" alt="Apology" class="img-fluid">
    
    <div class="row mt-3">
        <div class="col">
            <h1>{{ top }}</h1>
            <p>
                {{ bottom }}
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <a href="/" class="btn btn-primary">Back to home</a>
        </div>
    </div>
</div>
{% endblock %}