{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<div class="card mx-auto" style="width: 50rem;">
    <div class="card-body">
        <h5 class="card-title">History</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row['symbol'] }}</td>
                    <td>{{ row['amount'] }}</td>
                    <td>{{ row['price'] | sgd }}</td>
                    <td>{{ row['transacted'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}