<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- favicons -->
    <link rel="icon" href="/static/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/favicons/site.webmanifest" />

    <!-- title + description -->
    <title>{% block title %}{% endblock %} - Lion City Exchange</title>
    <meta name="description" content="Buy and sell $SAM tokens now!" />

    <!-- open graph -->
    <meta name="og:title" content="Lion City Exchange" />
    <meta
      name="og:description"
      content="Buy and sell $SAM tokens today with Lion City Exchange!"
    />
    <meta name="og:image" content="/static/promo.png" />
    <meta name="og:url" content="https://Lion City Exchange.saishack.club" />

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@saishackclub" />
    <meta name="twitter:creator" content="@saishackclub" />
    <meta name="twitter:title" content="Lion City Exchange" />
    <meta
      name="twitter:description"
      content="Buy and sell $SAM tokens today with Lion City Exchange!"
    />
    <meta name="twitter:image" content="/static/promo.png" />

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/layout.css" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
      integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><span class="red">Sam</span><span class="yellow">coin</span></a
        >
        <button
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbar"
          data-bs-toggle="collapse"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          {% if session["user_id"] %}
          <ul class="navbar-nav me-auto mt-2">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('quote') }}">Quote</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('buy') }}">Buy</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('sell') }}">Sell</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('history') }}">History</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('password') }}">Change Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('delete') }}">Delete Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    {% if get_flashed_messages() %}
    <header>
      <div class="alert alert-primary mb-0 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
      </div>
    </header>
    {% endif %}

    <main class="container-fluid py-5 text-center">
      {% block main %}{% endblock %}
    </main>

    <footer class="mb-5 small text-center text-muted">
      Made with ❤️ by <a href="https://saishack.club">SAIS Hack Club</a>, with data collected from <a href="https://coingecko.com">CoinGecko</a>.
    </footer>
  </body>
</html>
