{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<div class="card mx-auto" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Change Password</h5>
        <form action="/password" method="post">
            <!-- password and confirmation -->
            <div class="mb-3">
                <input class="form-control" id="oldpass" name="oldpass" placeholder="Old Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control" id="newpass" name="newpass" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control" id="confirmation" name="confirmation" placeholder="Confirmation"
                    type="password">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Change</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}