{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sell</h1>
      <p>
        Sell $SAM tokens today with Lion City Exchange!
      </p>
      <form action="/sell" method="post">
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="amount" name="amount" />
        </div>
        <button type="submit" class="btn btn-primary">Sell</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}